.at-your-fingertips,
.memoir {
  margin: 0;
}
.memoir-at-your-container {
  width: 482px;
  position: relative;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.whether-youre-thinking {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-9xl);
  line-height: 102%;
  font-family: var(--font-gautami);
  z-index: 1;
}
.rectangle-div {
  height: 58.6px;
  width: 215px;
  position: relative;
  border-radius: var(--br-6xl);
  background-color: var(--color-gray);
  display: none;
}
.register {
  position: relative;
  font-size: var(--font-size-5xl);
  line-height: 102%;
  font-family: var(--font-vrinda);
  color: var(--color-lavenderblush);
  text-align: left;
  display: inline-block;
  min-width: 82px;
  z-index: 1;
}
.laptop-clipart,
.rectangle-group,
.register-call-to-action {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangle-group {
  cursor: pointer;
  border: 0;
  padding: var(--padding-lg) var(--padding-47xl) var(--padding-lg-1)
    var(--padding-48xl);
  background-color: var(--color-gray);
  border-radius: var(--br-6xl);
  flex-direction: row;
  z-index: 1;
}
.rectangle-group:hover {
  background-color: #ECB159;
}
.laptop-clipart,
.register-call-to-action {
  flex-direction: column;
  max-width: 100%;
}
.laptop-clipart {
  align-self: stretch;
  gap: var(--gap-11xl);
  float: right;
}
.register-call-to-action {
  flex: 1;
  padding: var(--padding-12xs) 0 0;
  box-sizing: border-box;
  min-width: 343px;
}
.vecteezy-laptop-device-clipart-icon {
  height: 299px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  min-width: 344px;
  z-index: 1;
}
.frame-section,
.register-call-to-action-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  max-width: 100%;
}
.register-call-to-action-parent {
  width: 1061px;
  flex-wrap: wrap;
  gap: var(--gap-10xs);
}
.frame-section {
  align-self: stretch;
  padding: 0 var(--padding-2xl) var(--padding-93xl-4) var(--padding-xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-29xl);
  color: var(--color-black);
  font-family: var(--font-bropella);
}
@media screen and (max-width: 750px) {
  .memoir-at-your-container {
    font-size: var(--font-size-19xl);
  }
}
@media screen and (max-width: 450px) {
  .memoir-at-your-container {
    font-size: var(--font-size-10xl);
  }
  .whether-youre-thinking {
    font-size: var(--font-size-3xl);
    line-height: 23px;
  }
  .register {
    font-size: var(--font-size-lgi);
    line-height: 20px;
  }
  .register-call-to-action {
    min-width: 100%;
  }
  .frame-section {
    padding-bottom: var(--padding-54xl);
    box-sizing: border-box;
  }
  .laptop-clipart {
    padding-left: 200px;
  }
}

/* Для екранів шириною до 450px */
@media screen and (max-width: 450px) {
  .register-call-to-action-parent {
      width: 70% !important; /* Наприклад, ширина відсотків */
      max-width: none !important; /* Зняти обмеження максимальної ширини */
  }
  
}

/* Для екранів шириною до 768px */
@media screen and (max-width: 768px) {
  .register-call-to-action-parent {
      width: 100%; /* Наприклад, ширина відсотків */
      max-width: none; /* Зняти обмеження максимальної ширини */
  }
  .vecteezy-laptop-device-clipart-icon {
    height: 199px;
    top: 75px;
}
}

/* Для екранів шириною до 1024px */
@media screen and (max-width: 1024px) {
  .register-call-to-action-parent {
      width: 100%; /* Наприклад, ширина відсотків */
      max-width: none; /* Зняти обмеження максимальної ширини */
  }
}

/* Для екранів шириною до 425px */
@media screen and (max-width: 450px) {
  .register-call-to-action-parent {
      width: 100%; /* Наприклад, ширина відсотків */
      max-width: 400px; /* Зняти обмеження максимальної ширини */
  }
  .vecteezy-laptop-device-clipart-icon {
    height: 0px !important;
  }
    .laptop-clipart, .register-call-to-action {
      max-width: 100%;
  }
}

/* Для екранів шириною до 375px */
@media screen and (max-width: 375px) {
  .register-call-to-action-parent {
      width: 100%; /* Наприклад, ширина відсотків */
      max-width: none; /* Зняти обмеження максимальної ширини */
  }
}

/* Для екранів шириною до 320px */
@media screen and (max-width: 320px) {
  .register-call-to-action-parent {
      width: 100%; /* Наприклад, ширина відсотків */
      max-width: none; /* Зняти обмеження максимальної ширини */
  }
}


.your-component {
  opacity: 0.99; /* Спочатку робимо компонент невидимим */
  transform: translateY(15%); /* Зсуваємо його вниз на 100% */
  transition: opacity 1.2s ease, transform 1.2s ease; /* Додаємо плавну анімацію */
}

.your-component.visible {
  opacity: 1; /* Зробити компонент видимим */
  transform: translateY(0); /* Зсувати його до його правильного положення */
}
