.image-picker {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;

  }
  
  .image-picker-item {
    width: 80px; /* Adjust size as needed */
    height: 100px;
    cursor: pointer;

  }
  