.mind-full {
  position: relative;
  line-height: 29px;
  display: inline-block;
  min-width: 125px;
  left: -70px;
}
.mind-full-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-296xl) 0 0;
}
.frame-inner,
.frame-item {
  position: absolute;
  top: -20px;
  left: 70px;
  width: 471.6px;
  height: 334px;
}
.frame-inner {
  top: 201px;
  left: 372px;
  width: 407px;
  height: 278.6px;
  z-index: 1;
}
.frame-child1,
.vector-icon {
  position: absolute;
  top: 373px;
  left: 678.4px;
  width: 403.6px;
  height: 239.1px;
  z-index: 2;
}
.frame-child1 {
  position: absolute;
  top: 236.1px;
  left: 918px;
  border-radius: var(--br-264xl);
  width: 600px;
  height: 200px;
  z-index: 3;
}
.vector-parent {
  height: 607.6px;
  width: 1320.5px;
  position: absolute;
  margin: 0 !important;
  right: -331.5px;
  bottom: -142.6px;
}
.express,
.your-thoughts-digitally {
  margin: 0;
}
.express-your-thoughts-container {
  margin: 0;
  height: 412px;
  flex: 1;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.02em;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
  z-index: 4;
  left: -50px;
}
.outside-box {
  flex: 1;
  justify-content: flex-start;
  position: relative;
  min-width: 400px;
  text-align: center;
  font-size: var(--font-size-69xl);
  color: var(--color-gray);
  font-family: var(--font-bropella);
}
.frame-container,
.outside-box,
.vecteezy-image {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.frame-container {
  width: 783px;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: var(--gap-23xl);
}
.vecteezy-image {
  width: 1413px;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-277xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-9xl);
  color: var(--color-black);
  font-family: var(--font-give-you-glory);
}
@media screen and (max-width: 750px) {
  .express-your-thoughts-container {
    font-size: var(--font-size-25xl);
  }
  .outside-box {
    min-width: 100%;
  }
  .vecteezy-image {
    padding-bottom: var(--padding-173xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .mind-full {
    font-size: var(--font-size-3xl);
    line-height: 23px;
    left: -270px;
  }
  .express-your-thoughts-container {
    font-size: var(--font-size-25xl);
  }
  .frame-container {
    gap: var(--gap-2xl);
  }
  .express, .your-thoughts-digitally {
    padding-left: 100px;
  }
  .vector-parent {
    bottom: 82.6px;
  }
}
